Repository AxisCommunications/media-stream-library-js, changes with the owners that CODEOWNERS names for each.
All owners: @steabert, @Tigge, @rikteg, @barnomasoz

CODEOWNERS:

* @steabert
* @Tigge

/streams/ @rikteg
/overlay/ @rikteg
/player/ @barnomasoz

chore(deps): upgrade typescript/eslint
  .eslint-rules.cjs
  .eslintrc.cjs
  .eslintrc.yml
  .yarn/cache/@csstools-css-parser-algorithms-npm-2.0.1-d93fd57f45-9f168cfc8f.zip
  .yarn/cache/@csstools-css-tokenizer-npm-2.1.0-d3a19b6f8b-af3619557e.zip
  .yarn/cache/@csstools-media-query-list-parser-npm-2.0.1-6d8da9a941-f30b2a9e1a.zip
  .yarn/cache/@csstools-selector-specificity-npm-2.0.2-cbab31242a-a2045a2727.zip
  .yarn/cache/@csstools-selector-specificity-npm-2.1.1-1d0a01f035-392ab62732.zip
  .yarn/cache/@types-parse-json-npm-4.0.0-298522afa6-fd6bce2b67.zip
  .yarn/cache/cosmiconfig-npm-7.1.0-13a5090bcd-c53bf7befc.zip
  .yarn/cache/cosmiconfig-npm-8.1.2-bb7d32d920-5d02637d19.zip
  .yarn/cache/css-tree-npm-2.3.1-6540d78e26-493cc24b5c.zip
  .yarn/cache/deepmerge-ts-npm-4.2.1-a4cefb4b37-5fb2f4a6b0.zip
  .yarn/cache/eslint-plugin-functional-npm-4.4.1-7e0eb56b57-00a6001e86.zip
  .yarn/cache/eslint-plugin-simple-import-sort-npm-10.0.0-695149a137-23221ff63f.zip
  .yarn/cache/eslint-plugin-simple-import-sort-npm-7.0.0-45d08a8927-6aacb7179c.zip
  .yarn/cache/known-css-properties-npm-0.26.0-1d02b65fc1-e706f4af9d.zip
  .yarn/cache/known-css-properties-npm-0.27.0-e139519b4c-8584fcf052.zip
  .yarn/cache/mdn-data-npm-2.0.30-bf7b39c09a-d6ac5ac743.zip
  .yarn/cache/stylelint-npm-14.16.1-518d76e9e5-bc24050415.zip
  .yarn/cache/stylelint-npm-15.3.0-02cd352a24-d6ef20cfc4.zip
  .yarn/cache/supports-hyperlinks-npm-2.3.0-d19176eba2-9ee0de3c8c.zip
  .yarn/cache/supports-hyperlinks-npm-3.0.0-90482e7ea6-41021305de.zip
  .yarn/cache/typescript-npm-4.9.5-6427b65ee6-ee000bc268.zip
  .yarn/cache/typescript-npm-5.0.2-66dd4bd4f0-bef1dcd166.zip
  .yarn/cache/typescript-patch-d1f41f1b4a-2eee5c37ca.zip
  .yarn/cache/typescript-patch-efc1d1b96b-bdbf3d0aac.zip
  .yarn/cache/write-file-atomic-npm-4.0.2-661baae4aa-5da60bd4ee.zip
  .yarn/cache/write-file-atomic-npm-5.0.0-2ece8bba61-6ee16b1955.zip
  .yarn/cache/yaml-npm-1.10.2-0e780aebdf-ce4ada136e.zip
  overlay/package.json
  package.json
  player/package.json
  streams/package.json
  yarn.lock
Owners: @Tigge, @rikteg, @barnomasoz

chore(deps): upgrade vite
  .yarn/cache/@babel-core-npm-7.20.12-1f7c5fb4ea-62e6c3e214.zip
  .yarn/cache/@babel-core-npm-7.21.3-625d9d4efe-bef25fbea9.zip
  .yarn/cache/@babel-generator-npm-7.20.7-6446968b78-84b6983ffd.zip
  .yarn/cache/@babel-generator-npm-7.21.3-176ee60a78-be6bb5a32a.zip
  .yarn/cache/@babel-helper-function-name-npm-7.19.0-5bcf55236f-eac1f5db42.zip
  .yarn/cache/@babel-helper-function-name-npm-7.21.0-a17ce5a05a-d63e63c3e0.zip
  .yarn/cache/@babel-helper-module-transforms-npm-7.20.11-3e2102ac8a-29319ebafa.zip
  .yarn/cache/@babel-helper-module-transforms-npm-7.21.2-c33f2d2d0e-8a1c129a4f.zip
  .yarn/cache/@babel-helpers-npm-7.20.13-e6e7b0deb9-d62076fa83.zip
  .yarn/cache/@babel-helpers-npm-7.21.0-083aef3af1-9370dad2bb.zip
  .yarn/cache/@babel-parser-npm-7.21.3-0ad17a2817-a71e6456a1.zip
  .yarn/cache/@babel-plugin-syntax-jsx-npm-7.18.6-3e378d5f11-6d37ea9729.zip
  .yarn/cache/@babel-plugin-transform-react-jsx-development-npm-7.18.6-1b4b00c77d-ec9fa65db6.zip
  .yarn/cache/@babel-plugin-transform-react-jsx-npm-7.18.10-44e844357e-1aacfb0286.zip
  .yarn/cache/@babel-plugin-transform-react-jsx-npm-7.20.13-a42c5a3985-b1daaa9b09.zip
  .yarn/cache/@babel-traverse-npm-7.20.13-1eb3a4b7ac-30ca6e0bd1.zip
  .yarn/cache/@babel-traverse-npm-7.21.3-b3b3d9c94e-0af5bcd47a.zip
  .yarn/cache/@babel-types-npm-7.21.3-2a27aede05-b750274718.zip
  .yarn/cache/@jridgewell-resolve-uri-npm-3.1.0-6ff2351e61-b5ceaaf9a1.zip
  .yarn/cache/@jridgewell-sourcemap-codec-npm-1.4.14-f5f0630788-61100637b6.zip
  .yarn/cache/@jridgewell-trace-mapping-npm-0.3.17-57578fd48c-9d703b859c.zip
  .yarn/cache/@vitejs-plugin-react-npm-2.2.0-a43e4127d1-cc85ab31b4.zip
  .yarn/cache/@vitejs-plugin-react-npm-3.1.0-98ff1f6673-450fac79e6.zip
  .yarn/cache/magic-string-npm-0.26.7-07281acc06-89b0d60cbb.zip
  .yarn/cache/magic-string-npm-0.27.0-a60a83c0b4-273faaa50b.zip
  .yarn/cache/rollup-npm-2.79.1-94e707a9a3-6a2bf167b3.zip
  .yarn/cache/rollup-npm-3.19.1-f25bd0d605-f78198c6de.zip
  .yarn/cache/sourcemap-codec-npm-1.4.8-3a1a9e60b1-b57981c056.zip
  .yarn/cache/vite-npm-3.2.5-f23b9ecb5b-ad35b7008c.zip
  .yarn/cache/vite-npm-4.2.0-5b714422bd-1088cdc0c8.zip
  example-overlay-react/package.json
  example-player-react/package.json
  player/package.json
  yarn.lock
Owners: @Tigge, @barnomasoz

chore(deps): update cypress/jsdom
  .yarn/cache/cssom-npm-0.3.8-a9291d36ff-24beb3087c.zip
  .yarn/cache/cssom-npm-0.5.0-44ab2704f2-823471aa30.zip
  .yarn/cache/cssstyle-npm-2.3.0-b5d112c450-5f05e6fd2e.zip
  .yarn/cache/cssstyle-npm-3.0.0-3947bec0b5-31f694dfed.zip
  .yarn/cache/cypress-npm-10.11.0-89a066e772-938cc6a20f.zip
  .yarn/cache/cypress-npm-12.8.1-3b2056d2a4-a229f2b3ff.zip
  .yarn/cache/data-urls-npm-3.0.2-c8b2050319-033fc3dd0f.zip
  .yarn/cache/data-urls-npm-4.0.0-0e3aa92e72-006e869b5b.zip
  .yarn/cache/jsdom-npm-20.0.3-906a2f7005-6e2ae21db3.zip
  .yarn/cache/jsdom-npm-21.1.1-cb6155f6f0-ea33c3f3f0.zip
  .yarn/cache/punycode-npm-2.3.0-df4bdce06b-39f760e09a.zip
  .yarn/cache/rrweb-cssom-npm-0.6.0-04bbb1169b-182312f6e4.zip
  .yarn/cache/tr46-npm-3.0.0-e1ae1ea7c9-44c3cc6767.zip
  .yarn/cache/tr46-npm-4.1.1-3f695e44e5-aeeb821ac2.zip
  .yarn/cache/whatwg-url-npm-11.0.0-073529d93a-ed4826aaa5.zip
  .yarn/cache/whatwg-url-npm-12.0.1-777d17d043-8698993b76.zip
  .yarn/cache/ws-npm-8.12.0-4e21348613-818ff3f874.zip
  package.json
  scripts/ci-video-test.sh
  streams/package.json
  yarn.lock
Owners: @Tigge, @rikteg

chore: enable monorepo releases
  .github/workflows/publish.yml
  .yarn/cache/cmd-ts-npm-0.12.1-3ec644cf8c-0f7282e121.zip
  .yarn/cache/didyoumean-npm-1.2.2-fd568ec571-d5d98719d5.zip
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  CHANGELOG.md
  changeset.md
  example-overlay-react/package.json
  example-player-react/package.json
  example-player-webcomponent/package.json
  example-streams-node/package.json
  example-streams-web/package.json
  justfile
  overlay/LICENSE
  overlay/package.json
  package.json
  player/LICENSE
  player/package.json
  scripts/changelog.mjs
  scripts/changelog.py
  scripts/release.py
  streams/LICENSE
  streams/package.json
  yarn.lock
Owners: @Tigge, @rikteg, @barnomasoz

release: 12.1.0
  CHANGELOG.md
  changeset.md
  overlay/package.json
  package.json
  player/package.json
  streams/package.json
  yarn.lock
Owners: @Tigge, @rikteg, @barnomasoz

chore: enable monorepo releases
  .github/workflows/publish.yml
  .yarn/cache/cmd-ts-npm-0.12.1-3ec644cf8c-0f7282e121.zip
  .yarn/cache/didyoumean-npm-1.2.2-fd568ec571-d5d98719d5.zip
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  CHANGELOG.md
  changeset.md
  example-overlay-react/package.json
  example-player-react/package.json
  example-player-webcomponent/package.json
  example-streams-node/package.json
  example-streams-web/package.json
  justfile
  overlay/LICENSE
  overlay/package.json
  package.json
  player/LICENSE
  player/package.json
  scripts/changelog.mjs
  scripts/changelog.py
  scripts/release.py
  streams/LICENSE
  streams/package.json
  yarn.lock
Owners: @Tigge, @rikteg, @barnomasoz

release: 12.1.0
  CHANGELOG.md
  changeset.md
  overlay/package.json
  package.json
  player/package.json
  streams/package.json
  yarn.lock
Owners: @Tigge, @rikteg, @barnomasoz

chore: install just in publish workflow
  .github/workflows/publish.yml
Owners: @Tigge

chore: install just in publish workflow (#741)
  .github/workflows/publish.yml
Owners: @Tigge

release: 12.1.1
  CHANGELOG.md
  changeset.md
  overlay/package.json
  package.json
  player/package.json
  streams/package.json
  yarn.lock
Owners: @Tigge, @rikteg, @barnomasoz

release: 12.1.1 (#742)
  CHANGELOG.md
  changeset.md
  overlay/package.json
  package.json
  player/package.json
  streams/package.json
  yarn.lock
Owners: @Tigge, @rikteg, @barnomasoz

chore: use correct GitHub repo link
  CHANGELOG.md
  changeset.md
  scripts/changelog.mjs
Owners: @Tigge

chore: add fallback package exports
  overlay/package.json
  player/package.json
  scripts/changelog.mjs
  streams/package.json
Owners: @rikteg, @barnomasoz, @Tigge

chore: add fallback package exports (#745)
  overlay/package.json
  player/package.json
  scripts/changelog.mjs
  streams/package.json
Owners: @rikteg, @barnomasoz, @Tigge

release: 12.2.0
  CHANGELOG.md
  changeset.md
  overlay/package.json
  package.json
  player/package.json
  streams/package.json
  yarn.lock
Owners: @Tigge, @rikteg, @barnomasoz

release: 12.2.0 (#746)
  CHANGELOG.md
  changeset.md
  overlay/package.json
  package.json
  player/package.json
  streams/package.json
  yarn.lock
Owners: @Tigge, @rikteg, @barnomasoz

chore(player): use createRoot in example
  .vscode/settings.json
  example-player-react/index.jsx
Owners: @Tigge

feat: add tools with generated changelog cli
  .eslint-import-groups.cjs
  .eslintrc.cjs
  .github/workflows/publish.yml
  justfile
  overlay/esbuild.mjs
  package-lock.json
  package.json
  player/esbuild.mjs
  player/package.json
  scripts/changelog.mjs
  scripts/ci-video-test.sh
  scripts/tcp-ws-proxy.mjs
  scripts/top-level-dir.mjs
  scripts/utils.py
  scripts/workspaces.mjs
  streams/esbuild.mjs
  streams/src/components/replayer/index.ts
  streams/src/components/tcp/index.ts
  tools/CHANGELOG.md
  tools/package.json
  tools/src/__generated__/changelog.mjs
  tools/src/changelog/changeset.ts
  tools/src/changelog/cli.ts
  tools/src/changelog/git.ts
  tools/tsconfig.eslint.json
  tools/tsconfig.json
Owners: @Tigge, @rikteg, @barnomasoz

feat: add tools with generated changelog cli (#763)
  .eslint-import-groups.cjs
  .eslintrc.cjs
  .github/workflows/publish.yml
  justfile
  overlay/esbuild.mjs
  package-lock.json
  package.json
  player/esbuild.mjs
  player/package.json
  scripts/changelog.mjs
  scripts/ci-video-test.sh
  scripts/tcp-ws-proxy.mjs
  scripts/top-level-dir.mjs
  scripts/utils.py
  scripts/workspaces.mjs
  streams/esbuild.mjs
  streams/src/components/replayer/index.ts
  streams/src/components/tcp/index.ts
  tools/CHANGELOG.md
  tools/package.json
  tools/src/__generated__/changelog.mjs
  tools/src/changelog/changeset.ts
  tools/src/changelog/cli.ts
  tools/src/changelog/git.ts
  tools/tsconfig.eslint.json
  tools/tsconfig.json
Owners: @Tigge, @rikteg, @barnomasoz

feat: export modules that include dependencies
  player/README.md
  player/esbuild.mjs
  player/package.json
  streams/README.md
  streams/esbuild.mjs
  streams/package.json
Owners: @barnomasoz, @rikteg

feat: export modules that include dependencies (#749)
  player/README.md
  player/esbuild.mjs
  player/package.json
  streams/README.md
  streams/esbuild.mjs
  streams/package.json
Owners: @barnomasoz, @rikteg

release: 12.3.0
  CHANGELOG.md
  overlay/package.json
  package-lock.json
  package.json
  player/package.json
  streams/package.json
Owners: @Tigge, @rikteg, @barnomasoz

release: 12.3.0 (#766)
  CHANGELOG.md
  overlay/package.json
  package-lock.json
  package.json
  player/package.json
  streams/package.json
Owners: @Tigge, @rikteg, @barnomasoz

fix!: bundle stream-browserify/process by default
  overlay/esbuild.mjs
  package-lock.json
  player/README.md
  player/esbuild.mjs
  player/package.json
  streams/README.md
  streams/esbuild.mjs
  streams/package.json
  streams/polyfill.mjs
Owners: @rikteg, @Tigge, @barnomasoz

fix!: bundle stream-browserify/process by default (#767)
  overlay/esbuild.mjs
  package-lock.json
  player/README.md
  player/esbuild.mjs
  player/package.json
  streams/README.md
  streams/esbuild.mjs
  streams/package.json
  streams/polyfill.mjs
Owners: @rikteg, @Tigge, @barnomasoz

release: 13.0.0
  CHANGELOG.md
  overlay/package.json
  package-lock.json
  package.json
  player/package.json
  streams/package.json
Owners: @Tigge, @rikteg, @barnomasoz

release: 13.0.0 (#768)
  CHANGELOG.md
  overlay/package.json
  package-lock.json
  package.json
  player/package.json
  streams/package.json
Owners: @Tigge, @rikteg, @barnomasoz

fix: force negative frame durations to zero
  streams/src/components/mp4muxer/helpers/boxbuilder.ts
Owners: @rikteg
